// Hero
.has-background-turquoise{
    background-color: $turquoise;
    .title{
        color:white;
    }
    .subtitle{
        color:white;
    }
}
.hpe-blurb{
    padding:1.5em;
}
.hero-background{
    background-color: $turquoise;
    background-size: cover;
}

.pull-quote{
    padding: 1em 0;
    border-bottom: 1px dashed $primary;
    border-top: 1px dashed $primary;
    margin-top: 0.5em;
    margin-bottom: 2em; 
}

// Services


.service-icon {
    max-width: 50px;
    margin-left: 1.5em;
}
  

.service-description {
    line-height: 2;
  }
  
  .service-title {
    font-weight: bolder;
    font-size: larger;
  }
  


// Customers
.customer_logo{
    display: inline-block;
    margin-right:1em; 
    width:80px;
}