// Dimensions
.logo-cogs{
    width:75px;
    @media only screen and (min-width: 768px) {
        width:100px;
    }
}
.logo-text{
    width: 234px;
    @media only screen and (min-width: 768px) {
        width:293px;
    }
}

#outer-cog{
    transform-origin: center;
    animation:spin 35s linear infinite;
    transform-box: fill-box;
}
#center-cog{
    transform-origin: center;
    animation:backspin 30s linear infinite;
    transform-box: fill-box;
}
#inner-cog{
    transform-origin: center;
    animation:spin 35s linear infinite;

}
@keyframes spin { 
    100% { 
        transform:rotate(360deg); 
    } 
}

#liquid{
    animation:tubeliquid 7s ease-out infinite;
}
#water-reflection{
    animation:tubeliquid 7s ease-out infinite;
}

@keyframes tubeliquid{
    100%{
        transform: translateX(290px);
    }
}

@keyframes backspin { 
    100% { 
        transform:rotate(-360deg); 
    } 
}