#outer-cog{
    transform-origin: center;
    animation:spin 35s linear infinite;
    transform-box: fill-box;
}
#center-cog{
    transform-origin: center;
    animation:backspin 30s linear infinite;
    transform-box: fill-box;
}
#inner-cog{
    transform-origin: center;
    animation:spin 35s linear infinite;

}
@keyframes spin { 
    100% { 
        transform:rotate(360deg); 
    } 
}

@keyframes backspin { 
    100% { 
        transform:rotate(-360deg); 
    } 
}